.cardMeta div{
    font-size: 20px;
    text-transform: capitalize;
}

.cardMeta span{
    height: 200px;
    width: 200px;
}

.cardMeta :global(.ant-card-meta-title){
    font-size: 22px;
}

.cardMeta img{
    object-fit: contain;
}

.card {
    margin-top: 15px;
}

.card :global(.ant-avatar) {
    border-radius: 10px;
}

.icon svg {
    transition-duration: 0.3s;
    border-radius: 6px;
    padding: 5px;
    color: black;
    min-height: 38px;
    min-width: 38px;
}

.icon :hover {
    background-color: green;
    color: whitesmoke;
}

.cartExtra{
    padding: 7px 0;
}

@media (max-width: 480px) {
    .cardMeta span{
        height: 100px;
        width: 100px;
    }
}

