.card {
    min-width: 300px;
}

.cardMeta div {
    font-size: 20px;
    text-transform: capitalize;
}

.cardMeta span {
    min-height: 200px;
    min-width: 200px;
}

.cardMeta :global(.ant-card-meta-title) {
    font-size: 22px;
}

.cardMeta img {
    object-fit: contain;
}

.card {
    padding: 10px;
    justify-content: center;
    margin-top: 15px;
}

.card :global(.ant-avatar) {
    border-radius: 10px;
}

.cardRow {
    justify-content: center;
}

.icon svg {
    transition-duration: 0.3s;
    border-radius: 6px;
    padding: 10px;
    color: black;
    min-height: 45px;
    min-width: 45px;
}

.icon :hover {
    background-color: red;
    color: whitesmoke;
}

.icon {
    margin-left: 10px;
}

.cartExtra{
    padding: 10px 0;
}

@media (max-width: 480px) {
    .cardMeta span {
        min-height: 100px;
        min-width: 100px;
    }
}