.content {
    padding: 15px;
    min-height: calc(100vh - 80px);
    /*height: calc(100vh - 80px) !important;*/
}

.title {
    padding-left: 25px;
    font-size: 24px;
}

.titleRow {
    justify-content: space-between;
    align-items: center;
}

.tabs{
    height: fit-content;
}

.tabsRow{
    height: fit-content !important;
    justify-content: center;
}

@media (max-width: 480px) {
    .title {
        padding-left: 0;
        font-size: 18px;
    }
    .titleRow {
        padding-bottom: 35px;
    }
}