.icon svg {
    color: whitesmoke;
    margin-right: 10px;
    min-height: 45px;
    min-width: 45px;
}

.headerRow {
    justify-content: space-between;
    align-items: center;
}

.header{
    padding-inline: 20px !important;
}



